* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  background-size: cover;
  background-image: linear-gradient(to right bottom, #4477ff, #99ddff);

  background-repeat: no-repeat;

  min-height: 100vh;
}
